#main_photo
{
    width:calc(60vw);
    margin: 0 auto;
    height:calc(60vw / 1.618);
    overflow:hidden;
}
#outer_thumbnails
{
    height:100px;
    width: calc(150px + 60vw);
    margin: 30px auto;
}
#outer_thumbnails::after
{
    content: '';
    display: table;
}
.photo-arrow
{
    float:left;
    width: calc(50px);
    height: 100px;
}
.photo-arrow::before
{
    content: " ";
    display:block;
    height:20px;
    width:20px;
    border-top: 3px solid;
    border-left: 3px solid;
    border-color:#545454;
    position: relative;
    top: 50%;
    left: calc(100% - 20px);
    transform: translate(0, -50%) rotate(-45deg);
    cursor:pointer;
}
.photo-arrow:hover::before
{
    border-color:#6B6969;
}
.photo-arrow ~ .photo-arrow::before
{
    transform: translate(0, -50%) rotate(135deg);
    left: 0;
    right: unset;
}
#thumbnails
{
    float:left;
    height:100px;
    width: calc(100% - 100px);
    overflow:hidden;
}
#thumbnails>div
{
    height:100px;
    display:inline-block;
    width:161px;
    margin:0 20px;
}