body
{
    margin: 0;
    padding: 0;
}
#bgcontainer
{
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    background-image: url(../img/mint-bg/mint-fhd.png);
}
#logopillar
{
    width: 100%;
    height: calc(20vh + 20vw);
    margin-top: 50px;
    border-top: 0.25px rgb(172, 172, 172) solid;
    border-bottom: 0.25px rgb(172, 172, 172) solid;
    background: white;
    text-align: center;
    transition: 0.3s;
}
#logo
{
    margin-top:  calc(2.5vh + 2.5vw);
    transition: 0.3s;
}
#scrolldown
{
    position: absolute;
    text-align: center;
    bottom: 20px;
    width: 40px;
    left: 50%;
    margin-left: -23px;
    font-size: 40px;
    color: rgba(32, 32, 32, 0.445);
    transition: 0.3s;
}
@media only screen and (min-width: 500px) {
    #logopillar
    {
        width: calc(120px + 19.5vw);
        height: 100vh;
        position: absolute;
        top: 0;
        margin-top: 0;
        left: 11vw;
    }
    #scrolldown
    {
        display: none;
    }
    #logo
    {
        width: 82%;
        top: 50%;
        position: relative;
        margin: 0;
        -webkit-transform: translate(0,-50%);
        -moz-transform: translate(0,-50%);
        -o-transform: translate(0,-50%);
        transform: translate(0,-50%);
    }

}