body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
}

#bgcontainer {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    background-image: url(../img/mint-bg/mint-fhd.png);
}

#home {
    width: 100%;
    height: 100vh;
}

#logopillar {
    width: 100%;
    height: calc(20vh + 20vw);
    margin-top: 50px;
    border-top: 0.25px rgb(172, 172, 172) solid;
    border-bottom: 0.25px rgb(172, 172, 172) solid;
    background: white;
    text-align: center;
    transition: 0.3s;
}

#logo {
    margin-top: calc(2.5vh + 2.5vw);
    transition: 0.3s;
    height: 90%;
    top: 50%;
    position: relative;
    margin: 0;
    -webkit-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
}

#scrolldown {
    position: absolute;
    text-align: center;
    bottom: 20px;
    width: 40px;
    left: 50%;
    margin-left: -23px;
    font-size: 40px;
    color: rgba(32, 32, 32, 0.445);
    transition: 0.3s;
}

/* FURTHER DOWN */
.section-header {
    color: #727272;
    height: calc(80px + 3.5vw);
    line-height: calc(80px + 3.5vw);
    width: 70vw;
    margin: auto;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.section-header h1 {
    font-weight: 400 !important;
    font-size: calc(25px + 1.3vw);
    margin: 0;
}

.section-header h2 {
    font-weight: 400 !important;
    font-size: calc(15px + 1.1vw);
    margin: 0;
}

.underscored::after {
    display: table;
    content: '';
    height: 1px;
    width: calc(85px + 8vw);
    background: rgba(0, 204, 82, 0.411);
    position: relative;
    margin: auto;
    margin-top: calc(-10px + 1vw);
}

#about_slider {
    width: 70vw;
    margin: auto;
    margin-top: 40px;
}

#about_slider::after {
    content: '';
    display: table;
    clear: both;
}

#about_slider ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#about_slider ul li {
    margin: 0;
    padding: 0;
}

#about_slider ul li img {
    width: 100%;
    height: 100%;
}

.abouts-overlay {
    width: 70vw;
    height: calc(70vw / 1.618);
    margin-bottom: 20px;
    cursor: pointer;
}

.abouts-desc {
    position: relative;
    height: calc(50px + 1vw);
    margin-top: calc(-50px - 1vw);
    background: #32323280;
    color: #ffffffb9;
    line-height: calc(50px + 1vw);
    font-size: calc(15px + 0.3vw);
    text-align: center;
    transition: 0.5s;
}

#about_building_img, #about_building_p {
    width: 80vw;
    margin: auto;
}

#about_building::after {
    display: table;
    content: '';
    clear: both;
}

#about_building_img {
    height: calc(80vw /1.618);
}

#about_building_p {
    margin-top: 50px;
    font-size: calc(12px + 1.1vw);
    color: #727272;
    text-align: center;
}

#about_building_img img {
    width: 100%;
    height: 100%;
}

/*
#about_building_p::after
{
    content: '';
    display: table;
    width: 70vw;
    height: 1px;
    background: rgba(0, 204, 82, 0.411);
    margin: 30px auto auto auto;
}
*/
/*whyus*/
.whyus-p,.whyus-p-lone {
    width: 75vw;
    margin: auto;
    text-align: center;
    font-size: calc(15px + 0.7vw);
    font-weight: 300;
    margin-bottom: 80px;
    color: #727272;
}

.whyus-p-header {
    font-size: calc(18px + 1.1vw);
}

/*photos*/
#gallery_container {
    width: calc(90vw);
    margin: 0 auto;
}

.lSSlideWrapper {
    width: calc(55vw);
    margin: 0 auto;
    height: calc(32vw);
}

.lSSlideWrapper.usingCss {
    position: relative;
}

#slider li {
    height: 100%!important;
    min-width: calc(55vw);
}

#slider img {
    min-height: 100%;
    min-width: 100%;
    height: 100%;
    /*tylko dla poziomych zdjęć, jeżeli też chcemy dla pionowych,*/
    /*trzeba dodać nową klasę i sprawdzać proporcje jsem*/
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* STOPKA */
footer {
    padding: 30px;
}

#footer_logo {
    text-align: center;
}

#footer_logo img {
    width: 80px;
    padding: 20px;
}

.contactinfo {
    text-align: center;
    margin-top: 40px;
}

.contactinfo a {
    text-decoration: none;
    color: #727272;
    font-size: calc(20px + 1.2vw);
}

.contactinfo:nth-of-type(3) a {
    font-size: calc(12px + 1.2vw);
}

#footer_map {
    height: 300px;
    margin-top: 40px;
}

#watermark {
    text-align: center;
    height: 100px;
    line-height: 100px;
    font-size: calc(9px + 1vw);
    color: #727272;
}

#watermark a {
    text-decoration: none;
    color: rgba(0, 204, 82, 0.411);
}

@media only screen and (min-width: 500px) {
    #logopillar {
        width: calc(120px + 19.5vw);
        height: calc(100vh - 0.25px);
        border-left: 0.25px rgb(172, 172, 172) solid;
        border-right: 0.25px rgb(172, 172, 172) solid;
        border-top: none;
        position: absolute;
        top: 0;
        margin-top: 0;
        left: 11vw;
    }

    #scrolldown {
        display: none;
    }

    #logo {
        width: 82%;
        height: unset;
    }

    .whyus-p {
        width: 50%;
        float: left;
    }

    .whyus-p p {
        width: 60%;
        margin: auto;
    }

    .whyus-p::after {
        display: table;
        content: '';
        clear: both;
    }

    .whyus-p-lone p {
        width: 50%;
        margin: auto;
    }

    #whyus_upper {
        margin-top: 80px;
    }

    #whyus_upper::after {
        display: table;
        content: '';
        margin-bottom: 40px;
    }
}

@media only screen and (min-width: 992px) {
    .abouts-overlay {
        width: 20vw;
        height: calc(20vw / 1.618);
        margin-right: calc(10vw / 3);
        margin-bottom: 0;
        float: left;
    }

    .abouts-desc {
        height: 0;
        margin-top: 0;
    }

    .abouts-overlay:hover .abouts-desc {
        height: calc(50px + 1vw);
        margin-top: calc(-50px - 1vw);
    }

    #about_building {
        width: 80vw;
        margin: auto;
    }

    #about_building_img {
        width: 40vw;
        height: calc(40vw / 1.618);
        margin-right: 10vw;
    }

    #about_building_p {
        width: 30vw;
        margin: auto;
        margin-top: calc(10vw / 1.618);
        vertical-align: middle;
        text-align: justify;
    }

    #about_building_img, #about_building_p {
        float: left;
    }

    #about_building_p::after {
        display: none;
    }

    /*stopka */
    .contactinfo a {
        transition: 0.4s;
    }

    .contactinfo a:hover {
        color: #aaaaaa;
    }

    #watermark a:hover {
        color: rgba(40, 214, 110, 0.5);
    }
}
