.dot
{
    width: 20px;
    height: 20px;
    display: inline-block;
    background: #323232;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
    transition: 0.3s;
}

.active
{
    background: #01b047;
}

.rod
{
    height: 20px;
    width: 1px;
    margin-bottom: -3px;
    margin-left: 10px;
    background: #323232;
}
#navcontainer
{
    width: 172;
    height: 190px;
    text-align: left;
    margin-top: 30px;
    left: 50vw;
    margin-left: calc(50% - 86px);
    color: #323232;
    font-size: calc(10px + 0.5vw);
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    opacity: 0.9;
    
}
#navcontainer ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#navcontainer ul li
{
    display: inline-block;
    margin-bottom: 0;
    width: 100%;
    transition: 0.3s;
    cursor: pointer;
}
#navcontainer ul li:hover
{
    color: #6B6969;
}
#navcontainer ul li:hover .dot
{
    background: #6B6969;
}
#navcontainer ul li:hover .active
{
    background: #00cc51;
}
@media only screen and (min-width: 500px) {
    #navcontainer
    {
        position: absolute;
        right: 50px;
        left: auto;
        top: 50vh;
        margin-top: -90px;
    }
}


