.dot
{
    width: 16px;
    height: 16px;
    display: inline-block;
    background: #545454;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 25px;
    transition: 0.3s;
}

.active
{
    background: #01b047;
}

#navcontainer
{
    text-align: left;
    margin-top: 30px;
    left: 50vw;
    margin-left: calc(50% - 86px);
    color: #3e3e3e;
    font-size: calc(10px + 0.4vw);
    font-family: 'Quicksand', sans-serif;
    opacity: 0.9;
    transition: 0.4s;
}
#navcontainer ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#navcontainer ul li
{
    display: inline-block;
    margin-bottom: 0;
    width: 100%;
    transition: 0.3s;
    cursor: pointer;
}
#navcontainer ul li::after
{
    content: ' ';
    display: table;
    height: 25px;
    width: 1px;
    margin: 2px 0 0 8px;
    background: #545454;
}
#navcontainer ul li:last-child:after
    {content:none}

#navcontainer ul li:hover
{
    color: #6B6969;
}
#navcontainer ul li:hover .dot
{
    background: #6B6969;
}
#navcontainer ul li:hover .active
{
    background: #00cc51;
}
@media only screen and (min-width: 500px) {
    #navcontainer
    {
        position:fixed;
        right: 6vw;
        margin: 0;
        width: calc(100px + 10vw);
        left: unset;
        top: 50%;
        transform: translate(0, -50%);
    }
}


