/*Extra small devices (small phones, 350px and down)*/
.arrow-down.icon
{
    display: inline-block;
    color: #000;
    position: absolute;
    margin-top: 2px;
    width: 1px;
    height: 16px;
    background-color: currentColor;
}
.arrow-down.icon:before
{
    content: '';
    position: absolute;
    left: -5px;
    top: 3px;
    width: 10px;
    height: 10px;
    border-top: solid 1px currentColor;
    border-right: solid 1px currentColor;
    -webkit-transform: rotate(135deg);
     transform: rotate(135deg);
}
#tags
{
    color: rgba(0, 0, 0, 0);
    font-size: 0.0001px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#welcomeimg
{
    width: 100%;
    height: calc(100vh - 50px);
    margin-top: 50px;
    text-align: center;
}
#welcometxt
{
    width: 90%;
    display: inline-block;
    margin-top: 70px;
    font-size: calc(16px + 1.5vw);
}
#discover
{
    width: 200px;
    font-size: calc(25px + 1.5vw);
    position: absolute;
    left: 50%;
    margin-left: -100px;
    bottom: 50px;
}
#welcomeimg2
{
    text-align: center;
    padding-top: 30px;
    height: 220px;
    background: rgb(94, 33, 33);
    font-size: calc(18px + 1.5vw);
}
#welcomeimg2 h1
{
    font-size: calc(38px + 1.5vw);
}
#welcomepgh
{
    text-align: center;
}
#welcomepgh h1
{
  font-size: calc(35px + 1.5vw);
}
#welcomepgh p
{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-size: calc(14px + 1.5vw);
}
#welcomeimg3
{
  margin-top: 27px;
  background: red;
  height: 150px;
  width: 100%;
}
#welcomepgh2
{
 text-align: center;
 font-size: calc(20px + 1.5vw);
}
#welcomepgh2 p
{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
#newsletter
{
  height: 250px;
  background: rgb(50,52,56);
  color: white;
  text-align: center;
  padding-top: 5px;
}
#newsletter input
{
  width: 70%;
  height: 40px;
  border: 0;
  outline:0;
  border-radius: 2px;
  padding: 5px;
  font-size: calc(15px + 1.5vw);
  margin-bottom: 10px;
  background: rgb(95,98,102);
  color: whitesmoke;
}
::placeholder
{
  color: rgb(170,173,181);
}
#nlbutton
{
  background: rgb(231, 231, 231) !important;
  margin-top: 10px;
  color: rgb(95,98,102) !important;
}
.aboutimg
{
  height: 150px;
  background: black;
}
.abouttxt
{
  margin: 27px auto 27px auto;
  text-align: center;
  font-size: calc(20px + 1.5vw);
}
/* Small devices (large phones, 540px and up) */
@media only screen and (min-width: 540px) {

}
/* Small devices (portrait tablets, landscape phones, 640px and up) */
@media only screen and (min-width: 640px) {

}

/* Medium devices (landscape tablets, 800px and up) */
@media only screen and (min-width: 800px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra enormous devices (TV, 1700px and up) */
@media only screen and (min-width: 1700px) {


}
