/*Extra small devices (small phones, 350px and down)*/
html
{
  scroll-behavior: smooth;
  color: rgb(65, 65, 65);
}
.arrow-down
{
    display: inline-block;
    color: rgb(255, 255, 255);
    position: absolute;
    margin-top: 2px;
    width: 1px;
    height: 16px;
    background-color: currentColor;
}
.arrow-down:before
{
    content: '';
    position: absolute;
    left: -5px;
    top: 3px;
    width: 10px;
    height: 10px;
    border-top: solid 1px currentColor;
    border-right: solid 1px currentColor;
    -webkit-transform: rotate(135deg);
     transform: rotate(135deg);
}
#tags
{
    color: rgba(0, 0, 0, 0);
    font-size: 0.0001px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#indexwelcomeimg
{
  background-image: url(../img/welcomeimg.jpg);
}
#indexwelcometxt
{
  margin-top: calc(20px - 15vw + 60vh);
  font-size: calc(10px + 1.5vw + 0.3vh);
}
#iwtp
{
  color: rgb(255, 201, 130);
}
#discover
{
    width: 200px;
    font-size: calc(25px + 1.5vw);
    position: absolute;
    left: 50%;
    margin-left: -100px;
    bottom: 50px;
    color: rgba(255, 255, 255, 0.562);
}
#wi2st
{
    font-size: calc(20px + 1vw);
    mix-blend-mode: soft-light;
}
#welcomepgh
{
    text-align: center;
    padding: calc(10px + 4vw) calc(5px + 2vw) calc(10px + 4vw) calc(5px + 2vw);
}
#welcomepgh h1
{
  font-size: calc(30px + 3.5vw);
}
#welcomepgh p
{
  padding: calc(15px + 5vw) calc(15px + 3vw) calc(15px + 5vw) calc(15px + 3vw);
  font-size: calc(14px + 2.5vw);
}
#welcomeimg3
{
  height: calc(150px + 25vw);
  width: 100%;
  background-image: url(../img/img3.jp2);
  overflow: hidden;
  background-size: cover;
  background-position: center;
}
#welcomepgh2
{
 text-align: center;
 font-size: calc(20px + 2.5vw);
}
#welcomepgh2 p
{
  padding: calc(8px + 5vw) calc(8px + 5vw) calc(8px + 5vw) calc(8px + 5vw);
}

#email
{
  width: 100%;
}
::placeholder
{
  color: rgb(170,173,181);
}
.abouttxt
{
  padding: calc(15px + 1vw) 0 calc(15px + 1vw) 0 !important;
  text-align: center;
  font-size: calc(36px + 1.5vw);
}
/* Small devices (large phones, 540px and up) */
@media only screen and (min-width: 540px) {

}
/* Small devices (portrait tablets, landscape phones, 640px and up) */
@media only screen and (min-width: 640px) {

}

/* Medium devices (landscape tablets, 800px and up) */
@media only screen and (min-width: 800px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #welcomeimg
  {
    margin-top: 0;
    height: 100vh;
  }
  #discover
  {
    transition: 0.4s;
  }
  #discover:hover
  {
      cursor: pointer;
      color: rgb(209, 255, 223,1);
      bottom: 60px;
  }
  #welcomeimg3
  {
    width: 50%;
    float: left;
  }
  #welcomepgh2
  {
    vertical-align: middle;
    float: left;
    width: 50%;
  }
  #aboutimg1
  {
    width: 50%;
    float: right;
  }
  .abouttxt
  {
    vertical-align: middle;
    float: left;
    width: 50%;
  }
  .abouttxt p 
  {
    padding-top: 20%;
  }
  #welcomepgh2 p
  {
    padding: calc(8px + 1vw) calc(8px + 5vw) calc(8px + 1vw) calc(8px + 5vw);
  }
}

/* Extra enormous devices (TV, 1700px and up) */
@media only screen and (min-width: 1700px) {


}
