#navbar
{
    width: 100%;
	height:70px;
    border-bottom: 0.5px rgba(152, 251, 152, 0.425) solid;
	background-color: rgba(255, 255, 255, 0.342);
    padding: 10px;
    color:rgb(141, 141, 141);
    z-index: 100;
    transition: 0.5s;
	position:fixed;
	text-align:center;
}
#navbar.nav-small{
	height:50px;
	background-color:rgba(255, 255, 255, 0.833);
}

#logo
{
    transition: 0.5s;
    position:fixed;
    left:52%; /*2, żeby zrekompensować pustkę przy literze "t"*/
    transform:translate(-50%,0);
    padding:20px 0 20px 0;
}
.nav-small #logo
{
	padding:10px 0 10px 0;
}

#logo img
{
    transition: 0.5s;
	width:100px;
}
.nav-small #logo img
{
	width:70px;
}

#burgeract
{
    width: 100px;
    height: 90px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 111;
}
.nav-small #burgeract
	{height: 70px}
#outerburger
{
	display: block;
	position:absolute;
	top: 30px;
	right: 45px;
	cursor:pointer;
	z-index: 112;
	height:30px;
	width: 30px;
    transition: 0.5s;
}
.nav-small #outerburger
{
	top: 20px;
	right: 35px;
}
.menu.icon {
	position: absolute;
	margin-top: 13px;
	width: 30px;
	height: 4px;
	background-color: #595959;
}
.menu.icon::before {
	position: absolute;
	top: -12px;
	left: 0;
	width: 30px;
	height: 4px;
	background-color: #595959;
    content: "";
}
.menu.icon::after {
	position: absolute;
	top: 12px;
	left: 0;
	width: 30px;
	height: 4px;
	background-color: #595959;
    content: "";
}
.close.icon {
	position: absolute;
	margin: 0;
	width: 30px;
	height: 30px;
}
.close.icon::before {
	position: absolute;
	top: 13px;
	left:-5px;
	width: 40px;
	height: 4px;
	background-color: #595959;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
    content: "";
}
.close.icon::after {
	position: absolute;
	top: 13px;
	left:-5px;
	width: 40px;
	height: 4px;
	background-color: #595959;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
    content: "";
}
.icon, .icon::before, .icon::after
	{transition: all 0.5s;}

#menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 101;
    top: 0;
    right: 0;
    background-color: rgb(238, 238, 238);
    transition: 0.5s;
    padding: 0;
    padding-top: 83px;
    margin: 0;
}
#menu li
{
	list-style-type:none;
}
#menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: calc(20px + 1.5vw);
    display: block;
    transition: 0.5s;
}

#menu a:hover {
    color: rgb(89, 89, 89);
}
#menu.nav-open
{
    width:250px;
}
@media only screen and (min-width: 992px)
{
	#navbar:hover
	{
		background-color:rgba(255, 255, 255, 0.833);
	}
	#nav::after
		{clear:both}

	#outerburger
		{display:none}
	#menu
	{
		height: 50px;
		width: 80% !important;
		margin:auto;
		position: relative;
		z-index: 11;
		background-color: transparent;
		top: unset;
		right: unset;
		padding: 0;
	}
	.nav-small #menu
	{
		width: 70%;
	}
	#menu>li
	{
		padding:5px 20px;
		transition: 0.5s;
	}
	#menu>li:nth-child(1), #menu>li:nth-child(2)
	{
		float:left;
	}
	#menu>li:nth-child(3), #menu>li:nth-child(4)
	{
		float:right;
	}
	#menu a {
		padding: 0;
		line-height: 60px;
		font-size:25px;
	}
	.nav-small #menu a {
		font-size:20px;
		line-height: 40px;
	}
}
