.navbar
{
    width: 100%;
    position: fixed;
    background: rgb(219, 219, 219);
    height: 50px;
    padding-top: 5px;
    text-align: center;
    z-index: 999999;
}
.navbar img
{
    width: 100px;
}
.langchange
{
  width: 20px;
  height: 25px;
  background: #181919;
  position: fixed;
  z-index: 9999999;
  left: 20px;
  font-size: calc(8px + 1.2vw);
  text-align: center;
  color: white;
  padding-top: 5px;
}
.clicker
{
    width: 70px;
    height: 70px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999999;
}
.menu.icon
{
    color: rgb(37, 37, 37);
    position: absolute;
    right: 20px;
    top: 25px;
    width: 25px;
    height: 2px;
    background-color: rgb(37, 37, 37);
}
.menu.icon:before
{
    content: '';
    position: absolute;
    top: -8px;
    left: 0;
    width: 25px;
    height: 2px;
    background-color: rgb(37, 37, 37);
}
.menu.icon:after
{
    content: '';
    position: absolute;
    top: 8px;
    left: 0;
    width: 25px;
    height: 2px;
    background-color: rgb(37, 37, 37);
}
footer
{
    height: 150px;
    padding-top: 10px;
    text-align: center;
}
.footlogo img
{
    width: 70px;
}
.footinfo
{
    margin-top: -10px;
}
.footinfo a
{
    font-size: calc(20px + 0.6vw);;
}
.footinfo h1
{
    font-size: calc(25px + 0.8vw);
}
.footpart
{
    width: 50%;
    float: left;
    font-size: 14px;
}
.watermark
{
    padding: 20px;
    border-top: #d1d1d1 1px dashed;
}