.navbar
{
    position: absolute;
    width: 100%;
    height: 80px;
    z-index: 9999999999;
    background: rgba(255, 255, 255, 0.342);
    border-bottom: 0.5px rgba(152, 251, 152, 0.425) solid;
    text-align: center;
}
.logo
{
    display: inline block;
    padding: 20px 0 20px  0;
}
.logo img
{
    width: 100px;
}
.outerburger
{
    position: absolute;
    top: 40px;
    right: 50px;
}
.menu.icon {
    color: #000;
    position: absolute;
    margin-left: 2px;
    width: 25px;
    height: 2px;
    background-color: rgb(253, 170, 61);
  }
  
  .menu.icon:before {
    content: '';
    position: absolute;
    top: -8px;
    left: 0;
    width: 25px;
    height: 2px;
    background-color: rgb(253, 170, 61);
  }
  
  .menu.icon:after {
    content: '';
    position: absolute;
    top: 8px;
    left: 0;
    width: 25px;
    height: 2px;
    background-color: rgb(253, 170, 61);
  }
    
@media only screen and (min-width: 992px) {
  
}
